# Default unencrypted port
http://:8080 {
	log / stdout "{combined}"
	errors stdout

	# Redirect HTTP to HTTPS for admin content
	redir 301 {
		if {scheme} is http
		/admin https://{host}{uri}
		/admin/ https://{host}{uri}
		/admin/dashboard https://{host}{uri}
		/admin/dashboard/ https://{host}{uri}
		/login https://{host}{uri}
		/login/ https://{host}{uri}
		/profile https://{host}{uri}
		/profile/ https://{host}{uri}
	}

	proxy / http://fess_1:8080 {
		header_upstream Host fess_1:8080
		header_upstream X-Forwarded-For {remote}
		header_upstream X-Forwarded-Proto {scheme}
	}

	filter rule {
		path ^/.*
		content_type text/.*
		search_pattern "//fess_1:8080"
		replacement "//{request_host}"
	}
}

# Default encrypted port
https://:2015, https://fess:2015 {
	log / stdout "{combined}"
	errors stdout
	tls self_signed

	proxy / http://fess_1:8080 {
		header_upstream Host fess_1:8080
		header_upstream X-Forwarded-For {remote}
		header_upstream X-Forwarded-Proto {scheme}
		insecure_skip_verify
	}

	filter rule {
		path ^/.*
		content_type text/.*
		search_pattern "//fess_1:8080"
		replacement "//{request_host}"
	}
}
